extends layout

block content
  //p=JSON.stringify(empleados)
  .container-fluid
  .row
    .col-md-12      
      h1= title  
      br
      a.btn.btn-success(href="/panel/employees/new", role="button")
        i.fa.fa-plus-circle
          |  Nuevo      
      br    
      table.table.table-striped
        thead
          tr
            th
              | #
            th
              | Nombre
            th
              | Apellido
            th
              | E-Mail       
            th
              | Opciones
        tbody
        - empleados.forEach(function(v,i){
        tr
          td=i
          td=v.nombre
          td=v.apellido
          td=v.mail
          td
            a(href="/panel/employees/edit/"+v._id) 
              i.fa.fa-pencil-square-o               
            a(href="/panel/employees/delete/"+v._id) 
              i.fa.fa-eraser
        - });
        style.
          h1{
            margin-top: 10px;
          }
